
# git attributes for lfs extension.

rollback.rds filter=lfs diff=lfs merge=lfs -text

tax/ncbi-names.rds filter=lfs diff=lfs merge=lfs -text
tax/ncbi-nodes.rds filter=lfs diff=lfs merge=lfs -text
tax/ncbi-hierarchies.rds filter=lfs diff=lfs merge=lfs -text

refseq/organisms.rds filter=lfs diff=lfs merge=lfs -text
refseq/wanted.rds filter=lfs diff=lfs merge=lfs -text
refseq/9606/genes-ext.rds filter=lfs diff=lfs merge=lfs -text
refseq/9606/genes.rds filter=lfs diff=lfs merge=lfs -text

ucsc/9606/hsa-grch-38-bed.gz filter=lfs diff=lfs merge=lfs -text
ucsc/10090/mmu-grch-39-bed.gz filter=lfs diff=lfs merge=lfs -text

msigdb/2023.2/all.rds filter=lfs diff=lfs merge=lfs -text

prtcls/ge/10x-chromium-3/v1-manual.txt.gz filter=lfs diff=lfs merge=lfs -text
prtcls/ge/10x-chromium-3/v1-barcodes.txt.gz filter=lfs diff=lfs merge=lfs -text
prtcls/ge/10x-chromium-3/v2-barcodes.txt.gz filter=lfs diff=lfs merge=lfs -text
prtcls/ge/10x-chromium-3/v3-barcodes.txt.gz filter=lfs diff=lfs merge=lfs -text
prtcls/ge/10x-chromium-3/v4-barcodes.txt.gz filter=lfs diff=lfs merge=lfs -text
prtcls/ge/10x-chromium-3/v3-barcode-translation.txt.gz filter=lfs diff=lfs merge=lfs -text
prtcls/ge/10x-chromium-3/v4-barcode-translation.txt.gz filter=lfs diff=lfs merge=lfs -text

prtcls/ge/10x-chromium-5/v1-v2-barcodes.txt filter=lfs diff=lfs merge=lfs -text
prtcls/ge/10x-chromium-5/v3-barcodes.txt.gz filter=lfs diff=lfs merge=lfs -text
prtcls/ge/10x-chromium-5/v3-products.pdf filter=lfs diff=lfs merge=lfs -text
prtcls/ge/10x-chromium-5/vdj-cell-surface-manual.pdf filter=lfs diff=lfs merge=lfs -text
prtcls/ge/10x-chromium-5/vdj-technical.pdf filter=lfs diff=lfs merge=lfs -text

prtcls/illumina-adaptors.pdf filter=lfs diff=lfs merge=lfs -text
prtcls/illumina-indexed-seq.pdf filter=lfs diff=lfs merge=lfs -text
