
# R related hidden files
.Rproj.user/
.Rhistory
.Rprofile
bioinfo.Rproj

# databases
ensembl/9606/*
ensembl/10090/*
!ensembl/readme
!ensembl/9606/genes.rds

refseq/9606/*
!refseq/9606/genes.rds
!refseq/9606/genes-ext.rds

synapse/*
!synapse/readme

geo/*
!geo/readme

nucleotides/*
!nucleotides/readme
!nucleotides/fastq-dump.txt
!nucleotides/prefetch.txt
!nucleotides/data-archives.txt

tax/ncbi.sql

# msigdb/
# !msigdb/readme

# Python related hidden files
__pycache__

# C related hidden files
*.o
*.so
main